/*****************
 * Site Variables
 */

$color-brand: #046eb8;
$color-white: #fff;
$color-black: #000;
$color-green: #00ab66;
$color-gray: #f9f9f9;
$color-space-gray: #cccdcd;
$color-space-gray-gradient: linear-gradient(to bottom, #cccdcd, #d9d9d9, #e5e6e6, #f2f2f2, #ffffff);
$color-cyan-ligh: #d3e5f2;
$color-yellow: #ffff00;
$color-yellow-dark: #d1d100;
$table-border-color: #DADBDB;
$color-orange: #C55C06;
$color-red: #bb0000;
$blue-border-color: #046EB8;
$color-purple: #8A2BE2;
$color-blue: #0000FF;
$color-capacity: #036eb6;
$color-quality: #0f7140;
$color-capability: #909090;
$color-flexibility: #f2a222;
$color-responsibility: #c1272d;

$color-text: #333;

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #517fa4;
$color-google-plus: #dd4b39;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-pinterest: #cb2027;
$color-gray-background: #f2f2f2;

$font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Source Sans Pro", Georgia, "Times New Roman", Times, serif;

$font-weight-bold: 600;

$link-hover-decoration: none;
