// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


	footer {
		address, .copy-right {
			font-size: 1.05rem;
		}

		.btn-inquiery-wrapper {
			.footer-btn-inquiery {
				font-size: 1rem;
			}
		}


	}

	.contact-us {
		.term-conditions {
			.title.with-border {
				width: 80%;
			}
		}
	}

	.service {
		.service-content {
			.pentagon-service {
				margin: 30px 0;
				.service-detail {
					.service-item {
						.service-title {
							height: 100px;
	
							h3 {
								font-size: 2rem;
							}
						}
						.rounded-tag {
							width: 100px;
							height: 100px;
							min-height: 100px;
							min-width: 100px;
	
							h3 {
								font-size: 1.5rem;
							}
						}
					}
				}
			}
        }
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

	.btn-bg-wrapper {
		.btn-bg-primary {
			font-size: 1.2rem;
		}
	}

	.nf-form-cont.contact-form-wrapper {
		.nf-form-content label {
			text-align: left;
		}
	}

	.label-left .nf-field-label {
		width: 25% !important;
	}

	.nf-field-element {
		width: 75% !important;
	}


	.btn {
		&.btn-block {
			width: 280px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.dots-end-md {
		display: inline;
		position: relative;
		overflow: hidden;
		&:after {
			content: ".......................";
			position: absolute;
			font-size: 1.5rem;
			line-height: 0.8rem;
			letter-spacing: 0.3rem;
			width: 100%;
			height: 25px;
		}
	}
	.space-divider {
		margin-bottom: 60px;
	}
	.content-wrapper {
		padding: 30px 0;
	}
	.desktop-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}

	.main-menu {
		border-top: 4px solid $color-brand;

		.navbar-nav {
			.nav-item {
				font-size: 1.1rem;
			}
		}
	
	}

	.hero-content {

		h1 {
			font-size: 4rem;
		}

		.tagline {
			font-size: 2rem;
			margin-bottom: 25px;
		}
	}

	.list-view {
		.list-view-item {
			margin-bottom: 30px;
			h3{
				width: 420px;
			}
		}
	}

	.service {
		
		.service-header{
			.heading {
				font-size: 2.5rem;
				line-height: 3rem;
			}
		}
        
        .service-content {

            .pentagon-service {
			
                .pentagon-wrapper {
					padding: 90px 0;

                    .pentagon {
                        width: 260px;
						height: 250px;
						
						&:before {
							content: "";
							width: 260px;
							height: 250px;
						}

						.pentagon-item { 
							width: 120px;
							height: 120px;

							h3 {
								font-size: 2rem;
							}

							&.capacity {
								top: -60px;
    							left: 25%;
							}
			
							&.quality {
								top: 46px;
								right: -65px;
							}
			
							&.technical-capabilities {
								bottom: -51px;
								right: -8px;
							}
			
							&.flexibility {
								bottom: -51px;
								left: -8px;
							}
			
							&.responsibility {
								top: 46px;
								left: -65px;
							}
						}
                    }
                }
			}
			
			.service-detail {
				.service-item {
					.service-title {
						height: 90px;
						border-bottom-width: 5px !important;

						h3 {
							font-size: 2rem;
						}
					}
					.rounded-tag {
						width: 90px;
						height: 90px;
						min-height: 90px;
						min-width: 90px;

						&:after {
							content: "";
							height: 5px;
						}
					}

					&.capacity {
						margin-left: -15%;

						.service-title {
							width: calc(85% - 100px);
						}
					}
	
					&.quality {
						margin-left: -4%;

						.service-title {
							width: calc(96% - 100px);
						}
					}
	
					&.technical-capabilities {
						margin-left: 8%;

						.service-title {
							width: calc(108% - 100px);
						}
					}
	
					&.flexibility {
						margin-left: -4%;
						
						.service-title {
							width: calc(96% - 100px);
						}
					}
	
					&.responsibility {
						margin-left: -15%;

						.service-title {
							width: calc(85% - 100px);
						}
					}
				}
			}
        }
	}

	.section-heading {
		h3, h4{
			font-size: 2.5rem;
			font-weight: $font-weight-bold;
		}
	}

	.about-section {
		.about-item {
			.about-content {
				width: calc(50% - 75px);
				h3 {
					margin-bottom: 25px;
					font-size: 2.5rem;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	}

	.contract {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		object-fit: cover;
		height: 710px;

		.contract-content {
			h4, .description {
				line-height: 3rem;
			}
			h4 {
				font-size: 2rem;
			}
			.description {
				font-size: 1.8rem;
			}

			.detail {
				padding: 15px;
				margin-top: 10px;

				p {
					font-size: 1.8rem;
				}

				ul{
					li {
						font-size: 1.4rem;
					}
				}
			}
		}

		.card {
			margin-bottom: 40px;

			.card-body {
				padding: 1.25rem;
			}
			.card-header {
				padding: 18px 15px;
				h3 {
					font-size: 2.5rem;
				}
			}
		}
	}

	.whats-new {
		.table {
			th, td {
				font-size: 1.5rem;
			}
		}

		.section-heading {
			.container.with-right-button{
				.btn {
					padding: 4px 10px;
					top: calc(50% - 26px);
					font-size: 2rem;
				}
			}
		}
	}

	footer {
		.company-info {
			p {
				font-size: 0.9rem;
			}
		}

		address, .copy-right {
			font-size: 1.05rem;
		}

		.btn-inquiery-wrapper {
			margin-right: 0;

			.footer-btn-inquiery {
				margin-top: 0;
				width: auto;
				font-size: 1.5rem;
			}
		}

		.tel {
			font-size: 1.5rem;
		}
	}

	// Main Content
	.page-heading h3 {
		color: $color-white;
		font-size: 2rem;
	}

	.page-hero {
		position: relative;
		height: 400px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		object-fit: cover;
		overflow: hidden;

		.content {
			h2 {
				font-size: 2.5rem;
				line-height: 3.5rem;
			}
		}

		&.bg-img-right{
			&:before {
				content: '';
				position: absolute;
				background-color: #ffffff;
				background-image: url('../images/visual-inspection.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				object-fit: cover;
				top: 0;
				right: 0;
				height: 100%;
				width: 50%;
			}
		}
	}

	.flowchart {
		.flowchart-content {
			.flowchart-item {
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}

	.general-info {
		.main-description {
			font-size: 2rem;
		}
	}

	.about-company {
		.company-image {
			margin-top: 61px;
		}
		.company-image-item {
			padding-left: 15px;
			padding-right: 15px;
		}
		.table {
			th {
				width: 175px;
			}
		}
	}

	.contact-us {
		.term-conditions {
			.title.with-border {
				width: 50%;
			}
		}

		.contact-form-validation {
			.form-control {
				border: none;
			}
		}
	}

}

@media ( min-width: 992px ) {
	
	.main-menu {
		.navbar-nav {
			.nav-item {
				font-size: 1.5rem;
			}
		}
	}

	.hero-content {

		h1 {
			font-size: 4.8rem;
		}

		.tagline {
			font-size: 3rem;
			margin-bottom: 25px;
		}
	}

	.provide-section {

		h4 {
			font-size: 2rem;
		}

		.btn-outline-primary {
			font-size: 2rem;
		}

	}

	.btn-bg-wrapper {
		.btn-bg-primary {
			font-size: 2rem;
		}
	}

	
	.service-content {

		.pentagon-service {

			.pentagon-wrapper {

				.pentagon {
					width: 320px;
					height: 300px;
					
					&:before {
						content: "";
						width: 320px;
						height: 300px;
					}

					.pentagon-item { 
						width: 140px;
						height: 140px;
					}
				}
			}
		}
		
		.service-detail {
			.service-item {
				.service-title {
					height: 110px;
				}
				.rounded-tag {
					width: 110px;
					height: 110px;
					min-height: 110px;
					min-width: 110px;
				}

				&.technical-capabilities {
					margin-left: 4%;

					.service-title {
						width: calc(104% - 100px);
					}
				}
			}
		}
	}
}

@media ( min-width: 1200px ) {

}

@media ( min-width: 1600px ) {

}