/**
 *	PROJECT			:		Project Name
 *	DEVELOPER		:		CAMWP DEV Team
 *	DEVELOPER URI	:		https://camwpdev.com
 *	DATE			:		20-August-2016
 *	UPDATE DATE			:	01-December-2017
 */

@import "variables";
@import "bootstrap/bootstrap";
@import "compass/css3";

html,
body {

	/* Prevent horizontal scrolling bar appears when pinterest extension is installed */

	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: $color-gray-background;
	color: $color-text;
	font-family: $font-family-serif;
}

.text-brand {
	color: $color-brand;
}

.logo {
	width: 100%;
}

p, ul li {
	font-size: 1.1rem;
}

.list-inline-item:not(:last-child) {
	margin-right: 30px;
}

ul {
	padding-left: 18px;

	&.square-list-style {
		li {
			padding-left: 2rem;
			background-image: url("../images/icon-square.png");
			background-position: 0 50%;
			background-size: 1.4rem 1.4rem;
			background-repeat: no-repeat;
		}
	}
}


p,
h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom: 0;
}

.btn {
	padding: 10px 30px;
	font-size: 1.2rem;
	font-weight: $font-weight-bold;
	border-radius: 0;

	&.btn-primary {
		background-color: $color-brand;

		&:hover {
			border: 1px solid $color-brand;
			color: $color-brand;
			background-color: $color-white;
		}
	}
}

input.big-checkbox {
	transform: scale(1.3);
    margin-right: 8px;
}

.title-bordered {
	margin-bottom: 30px;
	h3 {
		background-color: $color-white;
		display: inline;
		padding: 10px;
		border: 1px solid $color-brand;
		color: $color-brand;
		font-weight: $font-weight-bold;
		font-size: 2rem;
	}
}
.space-divider {
	margin-bottom: 30px;
}
.dashed-divider {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	border-top: 1px dashed $color-brand;
}
.text-title {
	margin-bottom: 30px;
}
.border-bottom-1 {
	padding-bottom: 8px;
	border-bottom: 1px solid $color-brand;
}
.left-triangle-dot {
	&:before {
		content: '';
		display: inline-block;
		background-image: url(../images/triagle-icon.png);
		background-repeat: no-repeat;
		background-size: 16px;
		background-position: center;
		margin-right: 10px;
		width: 16px;
		height: 16px;
	}
}
.content-wrapper {
	padding: 15px 0;
}

.list-view {
	.list-view-item {
		margin-bottom: 15px;
		h3{
			color: $color-brand;
			font-weight: $font-weight-bold;
			border-bottom: 1px solid $color-brand;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}
}

.list-group{
	&.list-group-horizontal {
		flex-direction: row;

		li {
			margin-right: 15px;
		}
	}
}

ul.img-detail {
	list-style: none;
	font-weight: $font-weight-bold;
	li:before {
		content: '';
		display: inline-block;
		background-image: url(../images/triagle-icon.png);
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: center;
		margin-right: 10px;
		width: 14px;
		height: 16px;
	}
}

.content {
	margin-bottom: 15px;
	strong {
		font-weight: $font-weight-bold;
		font-size: 1.4rem;
		line-height: 2.6rem;
		margin-bottom: 8px;
	}
}

.card {
	border-radius: 0;
	border: none;
}

.title {
	padding: 8px 0;
	margin-bottom: 15px;
	color: $color-brand;
	font-weight: $font-weight-bold;
	font-size: 1.8rem;
	&.with-border {
		border-bottom: 1px solid $blue-border-color;
	}
}

.btn-bg-wrapper {
	display: inline-block;
	background-color: $color-brand;
	border: 1.5px solid $color-brand;
	color: $color-white;
    padding: 8px;
    margin: 4px 0;

	.btn-bg-primary {
		background-color: $color-brand;
		color: $color-white;
		font-weight: $font-weight-bold;
		border: 1px solid $color-white;
		padding: 6px 70px;
		font-weight: bold;
		font-size: 1.2rem;
		display: inline-block;
	}

	&:hover,
	&:active {
		background-color: $color-white;
		border-color: $color-brand;

		.btn-bg-primary {
			background-color: $color-white;
			border-color: $color-brand;
			color: $color-brand;
		}
	}

}

.section-heading {
	background-color: $color-brand;
	padding: 10px 0;

	h3 {
		color: $color-white;
		font-size: 2rem;
	}
}

.section-customer {
	background-color: $color-gray-background;

	h3 {
		color: $color-black;
		margin-bottom: 8px;
	}
}

.section-wrapper {
	padding: 30px 0;
}

.desktop-only{
	display: none;
}

.mobile-only {
	display: block;
}

.navbar{
	padding: 0;
}

.section-heading {
	margin-bottom: 15px;
	h3, h4{
		font-size: 1.5rem;
		font-weight: $font-weight-bold;

		span {
			color: $color-brand;
		}
	}
}

.top-header{
	border-top: 15px solid $color-brand;
	padding: 5px 0;
	background-color: $color-white;

	.top-content{
		.question-ask, .tel, .tel a{
			font-size: 1.67rem;
			color: $color-brand;
			font-weight: $font-weight-bold;
		}

		.question-ask {
			border-radius: 0.8rem;
			padding: 4px;
			border-width: 2px;

			&:hover{
				color: $color-white;
			}
		}

		p {
			font-size: 1rem;
		}

		.address{
			font-weight: $font-weight-bold;
		}
	}

	.logo {
		margin: 14px 0;
		width: 90%;
	}

	.navbar-toggler {
		.navbar-toggler-icon {
			width: 38px;
			height: 38px;
			color: blue;
		}
	}

	.navbar-collapse  {
		background-color: $color-brand;
		position: absolute;
		width: 100%;
		z-index: 999;

		.navbar-nav {
			padding: 15px;

			.nav-item {
				border-top: 1.5px solid $color-white;

				&:last-child {
					border-bottom: 1.5px solid $color-white;
				}

				.nav-link {
					color: $color-white;
					font-weight: 600;
					font-size: 1.6rem;
					padding: 12px;

					&:hover,
					&:focus,
					&:active {
						background-color: darken( $color-brand, 15% ) !important;
					}
				}
			}
		}
	}

	.navbar-brand{
		width: calc(100% - 55px);
	}

	.navbar-toggler{
		border: none;
		padding: 0;

	}
}

.main-menu{
	border-top: 15px solid $color-brand;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(204,205,205,1) 100%);
	.navbar-nav{
		width: 100%;

		.nav-item{
			font-size: 1.5rem;
			font-weight: 600;

			.nav-link {
				padding: 1.2rem 1rem;


				&::before {
					content: '';
					width: 10px;
					height: 10px;

				}

				&:hover,
				&:focus,
				&:active {
					background-color: darken($color-space-gray, 15% ) !important;
				}
			}
		}
	}
}

.hero{
	position: relative;
	background-size: cover;
	height: calc(100vh - 212px);
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;

	&:after {
		content: '';
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
	}

	.hero-content {
		z-index: 1;

		h1{
			color: $color-white;
			font-weight: $font-weight-bold;
		}

		.tagline {
			color: $color-white;
			font-weight: $font-weight-bold;
			line-height: 3.2rem;
		}
	}

}

.service {
	margin-bottom: 30px;
	.service-header {
		background-color: $color-brand;
		padding: 25px 0;
		margin-bottom: 30px;

		.heading {
			font-size: 1.2rem;
			color: $color-white;
			line-height: 1.5rem;
		}
	}

	.polygon {
		float: left;
		-webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
		-webkit-shape-outside: polygon(30px 0%, 100% 50%, 30px 100%);
		shape-outside: polygon(30px 0%, calc(100% + 30px) 50%, 30px 100%);
		height: 300px;
		width: 300px;
		background: linear-gradient(to top right, #86F7CC, #67D7F5);
	}

	.service-content {
		.service-detail {
			.service-item {
				.service-title {
					width: 100%;
				}
				.rounded-tag {
					position: relative;
					background-color: $color-brand;

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						right: -15px;
						width: 65%;
						height: 2px;
						z-index: -1;
					}
				}

				&.capacity {
					.rounded-tag {
						&:after {
							background-color: $color-capacity;
						}
					}
					
					.service-title {
						border-bottom: 2px solid $color-capacity;
					}
				}

				&.quality {
					.rounded-tag {
						&:after {
							background-color: $color-quality;
						}	
					}

					.service-title {
						border-bottom: 2px solid $color-quality;
					}
				}

				&.technical-capabilities {
					.rounded-tag {
						&:after {
							background-color: $color-capability;
						}	
					}

					.service-title {
						border-bottom: 2px solid $color-capability;
					}
				}

				&.flexibility {
					.rounded-tag {
						&:after {
							background-color: $color-flexibility;
						}	
					}

					.service-title {
						border-bottom: 2px solid $color-flexibility;
					}
				}

				&.responsibility {
					.rounded-tag {
						&:after {
							background-color: $color-responsibility;
						}	
					}

					.service-title {
						border-bottom: 2px solid $color-responsibility;
					}
				}
			}
		}

		.pentagon-service {
			margin: 15px 0;
			.rounded-tag {
				width: 70px;
				height: 70px;
				min-height: 70px;
				min-width: 70px;
				border-radius: 50%;
				background-repeat: no-repeat;
				background-size: contain;
				background-color: $color-brand;
				-moz-box-shadow:    0px 2px 9px 1px rgba(0, 0, 0, 0.5);
				-webkit-box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.5);
				box-shadow:         0px 2px 9px 1px rgba(0, 0, 0, 0.5);

				h3 {
					font-size: 1rem;
					white-space: normal;
					font-weight: $font-weight-bold;
				}
			}

			.pentagon-wrapper {
				padding: 50px 0;

				.pentagon {
					position: relative;
					width: 220px;
					height: 200px;
					background-blend-mode: soft-light;
					background-repeat: no-repeat;
					background-position: center;
					background-size: calc(100% - 100px);

					&:before {
						content: "";
						position: absolute;
						width: 220px;
						height: 200px;
						z-index: -1;
						-webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
						clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
						background-color: $color-brand;
					}
					
					.pentagon-item {
						position: absolute;
						width: 95px;
						height: 95px;
		
						&.capacity {
							top: -45px;
					    	left: 25%;
						}
		
						&.quality {
							top: 36px;
							right: -56px;
						}
		
						&.technical-capabilities {
							bottom: -47px;
							right: -8px;
						}
		
						&.flexibility {
							bottom: -47px;
							left: -8px;
						}
		
						&.responsibility {
							top: 36px;
    						left: -56px;
						}
					}
					
				}
			}
		}

		.service-item {
			position: relative;
			margin-bottom: 15px;

			.service-title {
				margin-left: 15px;
				height: 70px;
				overflow: hidden;
				border-bottom: 2px solid;
				
				h3 {
					line-height: 2rem;
					font-size: 1.2rem;
					font-weight: $font-weight-bold;
					color: $color-brand;
				}
			}
		}
	}
}

.about-section {
	.about-item {
		background-color: $color-brand;
		height: 350px;
		width: 100%;
		&.has-bg {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			object-fit: scale-down;
			.about-content {
				h3, p {
					color: $color-black;
				}
			}
		}

		&.cyan-bg {
			background-color: $color-cyan-ligh;

			.about-content {
				h3, p {
					color: $color-black;
				}
			}
		}

		.about-content {
			width: calc(50% - 30px);
			h3, p {
				color: $color-white;
			}
			h3 {
				margin-bottom: 15px;
				font-size: 1.5rem;
				font-weight: $font-weight-bold;
			}
			p {
				font-size: 0.8rem;
			}
		}
	}

	.left-content, .right-content {
		position: relative;

		&:before {
			content: '';
			background-color: #ffffff;
			background-image: url('../images/about-us-1.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			object-fit: scale-down;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}

	.left-content {
		&:before {
			left: 50%;
			-moz-transform: skewX(-15deg);
			-ms-transform: skewX(-15deg);
			-webkit-transform: skewX(-15deg);
			transform: skewX(-15deg);
		}
	}

	.right-content {
		.about-content {
			float: right;
		}
		&:before {
			right: 50%;
			-moz-transform: skewX(15deg);
			-ms-transform: skewX(15deg);
			-webkit-transform: skewX(15deg);
			transform: skewX(15deg);
		}
	}
}

.provide-section {
	background-color: $color-brand;
	padding: 26px 0;

	h4 {
		color: $color-white;
		font-size: 1.2rem;
		margin-bottom: 16px;
	}

	.btn-outline-primary {
		color: $color-yellow;
		border: 2px solid $color-yellow;
		border-radius: 10px;
		font-size: 1.2rem;

		&:hover {
			background-color: $color-yellow-dark;
			color: $color-black;
		}
	}
}

.contract {
	background-color: $color-white;

	.contract-content {
		h4 {
			font-size: 1.25rem;
			font-weight: $font-weight-bold;
			line-height: 2rem;
		}

		.description {
			font-size: 1rem;
			line-height: 2rem;
		}

		.detail {
			padding: 10px;
			margin-top: 10px;
			background-color: $color-cyan-ligh;

			p {
				font-size: 1.2rem;
				font-weight: $font-weight-bold;
			}

			ul {
				padding-left: 18px;
			}
		}
	}

	.card {
		margin: 10px 0;
		.card-body {
			padding-left: 0;
			padding-right: 0;
		}

		.card-header {
			padding: 18px 15px;
			border-bottom: none;
			background-color: $color-brand;
			h3 {
				color: $color-white;
				text-align: center;
				font-size: 1.8rem;
				font-weight: $font-weight-bold;
			}
		}
	}

	.contract-footer {
		margin-bottom: 26px;
	}
}

.whats-new {
	.table {
		th, td {
			padding: 1rem 0;
			border-top: none;
			border-bottom: 1px solid $table-border-color;
			font-size: 1rem;
		}

		td {
			span {
				padding: 8px 15px;
				font-weight: $font-weight-bold;
				color: $color-white;

				&.notice {
					background-color: $color-brand;
				}

				&.recruitment {
					background-color: $color-orange;
				}
			}
		}
	}

	.section-heading {
		.container.with-right-button{
			position: relative;
			.btn {
				position: absolute;
				top: calc(50% - 18px);
				right: 15px;
				font-size: 12px;
				border-radius: 0;

				&:hover {
					color: $color-black;
				}
			}
		}
	}

	.pagination {
		.page-item {
			&.active {
				.page-link {
					background-color: $color-blue;
					color: $color-white;
				}
			}
			.page-link {
				background-color: transparent;
				border-color: $color-blue;
				border-radius: 0;
				margin: 0 5px;
				color: $color-blue;
				width: 40px;
				text-align: center;

				&:hover {
					background-color: $color-blue;
					color: $color-white;
				}

				&.previous, &.next {
					border: none;
					width: auto;
				}
			}
		}
	}
}

footer{
	padding: 20px 0;
	background: linear-gradient(to bottom, #1C90D0 0%, #046EB8 100%);

	.logo {
		margin: 25px 0;
	}

	.company-info {
		p {
			line-height: 2rem;
			font-size: 0.8rem;
		}
	}

	.btn-inquiery-wrapper {
		border: 1px solid $color-yellow;
		border-radius: 12px;
		padding: 2px;
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		height: fit-content;

		.footer-btn-inquiery {
			border: 1px solid $color-yellow;
			border-radius: 9px;
			padding: 0.5rem 1.5rem;
			font-size: 1rem;
			color: $color-yellow;
			font-weight: $font-weight-bold;
			width: 100%;

			&:hover {
				border: 1px solid $color-yellow;
				background-color: $color-yellow;
				color: $color-brand;
			}

			i {
				font-size: 2rem;
				font-weight: $font-weight-bold;
			}
		}
	}



	.tel{
		color: $color-white;
		font-size: 1rem;
	}
}


// Main Content

.page-heading{
	padding: 15px 0;
	background-color: $color-brand;
	h3 {
		color: $color-white;
		font-size: 1.5rem;
	}
}

.page-hero {
	strong {
		font-weight: $font-weight-bold;
		font-size: 1.4rem;
	}

	.content {
		padding: 25px 0;
		h2 {
			font-size: 1.4rem;
			line-height: 2rem;
			font-weight: $font-weight-bold;
		}
	}
}

.page-contain {
	padding: 30px 0;

	.about-item {
		margin-bottom: 20px;

		img {
			width: 100%;
		}

		.about-content {

			ul {
				padding-left: 20px;
			}

			strong {
				font-size: 1.5rem;
				font-weight: $font-weight-bold;
				margin-bottom: 10px;

				&:before {
					content: '';
					display: inline-block;
					background-image: url(../images/triagle-icon.png);
					background-repeat: no-repeat;
					background-size: 12px;
					background-position: center;
					margin-right: 10px;
					width: 14px;
					height: 16px;

				}
			}

			p {
				margin-bottom: 15px;
			}
		}
	}
}

.inspection-assets {
	.inspection-assets-item {
		margin-bottom: 15px;
		padding: 10px 0;
		&.with-divider {
			border-bottom: 1px solid;
		}
		.content {
			margin-bottom: 10px;
			span {
				color: $color-red;
			}
		}
	}
}

.staff-system {
	background-color: $color-white;
	padding: 30px 0;
	margin-bottom: 60px;

	.staff-system-detail {
		h4 {
			font-weight: $font-weight-bold;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

.flowchart {
	.flowchart-content {
		padding: 30px 0;
		.flowchart-item {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 15px;
			margin-top: 15px;

			.flowchart-name, .flowchart-description {
				padding: 15px;
				border: 1px solid $color-brand;
			}

			.flowchart-name {
				background-color: $color-brand;

				h4 {
					color: $color-white;
					font-weight: $font-weight-bold;
				}
			}

			.flowchart-description {
				background-color: $color-white;
			}
		}
	}
}

.faq-card {
	border-radius: 12px;
	margin-bottom: 30px;
	.card-header::before, .card-body::after {
		content: "";
		background-repeat: no-repeat;
		background-size: contain;
		width: 80px;
		height: 58px;
	}
	.card-header {
		background-color: $color-brand;
		border-radius: 12px 12px 0 0;

		&:before {
			background-image: url("../images/icon-question.png");
			margin-right: 8px;
		}
	}

	.card-body {
		&:after {
			background-image: url("../images/icon-answer.png");
			margin-left: 8px;
		}
	}
}

.general-info {
	.general-info-item {
		margin-bottom: 30px;
		.main-description {
			margin-bottom: 30px;
			font-size: 1.8rem;
			font-weight: $font-weight-bold;
		}

		.dots-end-md {
			strong {
				white-space: nowrap;
				font-weight: $font-weight-bold;
			}
		}
	}
}

.about-company {
	.table {
		td, th {
			border-top: 2px solid $color-brand;
			border-bottom: 2px solid $color-brand;
		}

		th {
			background-color: #e4e4e4;
			width: 160px;
		}

		td {
			background-color: $color-white;
		}
	}

	.company-image {
		.company-image-item {
			padding-left: 0;
			padding-right: 0;
		}
		img {
			margin-bottom: 5px;
		}
		.company-image-title {
			font-weight: $font-weight-bold;
			padding-left: 26px;
			background-image: url("../images/triangle-top.png");
			background-repeat: no-repeat;
			background-size: 18px;
			background-position: left;
		}
	}
}

.contact-us {
	.contact-info {
		.title {
			padding: 14px 0 !important;
		}

		.direct-contact {
			padding: 15px 0;
			margin-right: 5px;
			margin-left: 5px;
			background-color: $color-white;
			border: 1px solid $color-space-gray;

			.tel {
				h4 {
					font-weight: $font-weight-bold;
					color: $color-brand;
				}
			}

			img {
				width: 30px;
				height: auto;
				margin-right: 10px;
			}

		}
	}

	.contact-form {
		margin-bottom: 30px;
		.contact-form-wrapper {
			margin-top: 30px;
			padding: 20px;
			background-color: $color-white;

			.required {
				padding: 5px 8px;
				background-color: $color-red;
				font-size: 0.8rem;
				margin-right: 8px;
				color: $color-white;
			}
		}
	}

	.term-conditions {
		ol{
			padding-left: 5px;
		}

		ul {
			padding-left: 37px;

			> li {
				list-style: disc;
			}
		}

		ol {
			counter-reset: list;

			> li {
				list-style: none;

				&:before {
					content: counter(list, lower-alpha) ") ";
  					counter-increment: list;
				}
			}
		}
	}

	.contact-form-validation {
		.form-control[disabled] {
			background-color: $color-white;
		}

		input, textarea {
			color: $color-red;
		}
	}
}

.nf-form-cont.contact-form-wrapper {
	padding: 0!important;

	.nf-form-content label {
		font-size: 16px;
		font-weight: normal;
	}

	.nf-field-label label {

	}

	.nf-form-content input:not([type=button]) {
		background-color: $color-white;
		border-radius: 0.25rem;
		height: 38px;

	}

	.nf-form-content textarea {
		background-color: $color-white;
	}

	.nf-field-element {
		text-align: center;
	}

	.nf-form-content input[type=button] {
		background-color: $color-brand;
		border: 1px solid $color-brand;
		color: $color-white;
		font-size: 1.2rem;
		font-weight: $font-weight-bold;
		text-align: center;
		padding: 10px 30px;


		&:hover {
			border: 1px solid $color-brand;
			color: $color-brand;
			background-color: $color-white;
		}
	}
}
.nf-form-layout {

	.nf-error {
		&.field-wrap {
			.nf-field-element {
				&:after {
					content: '';
					display: none;
				}
			}
		}

		.ninja-forms-field {
			border-color: #c4c4c4 !important;
			background-color: #ffd3ff !important;
		}
	}

	.nf-after-field {
		display: none;
	}
}

.nf-form-layout {
	.nf-form-content {
		margin: 0;
		max-width: none;
	}
}


@import "responsive";
